<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ping and Route Tester{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('index') }}">
                <h1 class="title is-4 has-text-white">性能测试报表</h1>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('index') }}">
                    报表总览
                </a>
                <a class="navbar-item" href="{{ url_for('manage_servers') }}">
                     服务器管理
                </a>
            </div>

            <div class="navbar-end">
                {% if session.get('authenticated') %}
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-small" href="{{ url_for('logout') }}">
                            退出登录
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html> 